/* RANKING PAGE INVISIBLE */

#ranking {
  visibility: hidden;
}

#rankinglead {
  visibility: hidden;
}
#generator {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

/* NAV */

body {
  display: grid;
  font-family: "Noto Sans";
}

.nav-bar {
  display: grid;
  float: top;
}

.nav-item {
  display: flex;
  justify-items: end;
  float: right;
  padding-top: 45px;
  padding-left: 15px;
  padding-right: 5px;
}

/* SEARCH */

#logo {
  font-family: "Nunito", sans-serif;
  color: #2164f2;
  word-spacing: -0.1em;
  float: left;
  display: flex;
  vertical-align: top;
  font-size: 35px;
  padding-left: 20px;
}

.search-bar {
  display: grid;
  justify-items: center;
}

#search-label {
  font-size: 18px;
  width: 80%;
  padding: 10px 60px 12px 5px;
}

#myInput {
  background-image: url(/img/search.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #949494;
  border-radius: 10px;
}

.search-results {
  display: grid;
  justify-items: center;
  padding-bottom: 20px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 80%;
}

#myUL li {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
}

#spacer {
  background-color: transparent;
}

#random {
  text-decoration: none;
  color: #2164f2;
}

/* Button */
#btnGenerate {
  background-color: #2164f2;
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btnGenerate:hover {
  background-color: #3f79f7;
}
